<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여기다가 타이틀을 적습니다</title>
</head>
<body>
    <h1>
        제목 텍스트를 넣습니다.
    </h1>
    <p>
        일반 텍스트
    </p>
    <img src="https://item.kakaocdn.net/do/416976b0c05bde28d706525b7c6c97ed41d1a2caccd0c566eab28b91e2e5d306"/>
    <div>
        <button> 이건 버튼이야 </button>
    </div>
</body>
</html>